*{
	margin: 0;
	padding: 0;
}

a:hover{
	text-decoration: none !important; 
}

.margin {
	margin:auto;
}

.mt-6 {
	margin-top: 6rem !important;
}

/*màu*/

.red-2 {
	color: #BF1E2E;
}

.blue-vin {
	color: #262265;
}
.black2{
	color: #6D6E71;
}

.text-grey {
	color: #6D6E71;
}

.bg-green-student{
	background-color: #00C098;
}

.bg-grey {
	background: #F5F5F5;
}

a.red-2 {
	color: #BF1E2E !important;
}

.green-student {
	color: #00C098;
}

.red-3 {
	color: #ED326A;
}

.orange {
	color: #F66B49;
}

.bg-orange{
	background-color: #F66B49;
}

.purple {
	color: #9B51E0;
}

.bg-purple {
	background-color: #9B51E0;
}

.blue-2 {
	color: #6539FE;
}

.shadow-box{
	/*box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);*/
	box-shadow: 0px 25px 50px rgba(8, 55, 129, 0.1);
}

.rounded-2 {
	border-radius: .5rem !important;
}

/*độ rộng*/

.w-80 {
	width: 80% !important;
}

.w-60 {
	width: 60% !important;
}

.w-40 {
	width: 40% !important;
}

 /*login*/

.form-field {
  font-family: inherit;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  padding: .5rem 0;
  background: transparent;
  transition: border-color 0.2s;
 }

 .password .col-12 {
 	position: relative;
 }

 .password .col-12 i {
 	position: absolute;
 	top: .75rem;
 	right: 2.5rem;
 }

.login input[type='checkbox'] {
	width: 1rem;
	height: 1rem;
}

.login-vnEdu.btn-primary {
	background-color: rgba(0, 99, 203, .15);
	border:none;
}

.login-vnEdu.btn-primary:hover {
	background-color: rgba(0, 99, 203, .15);
}

/*nút nhớ mật khẩu*/

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: #506EEC;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #506EEC;
  border-color: #506EEC;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

/*navbar*/

.btn.btn-outline-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
}

/*banner*/
/*.banner{
	min-height: 260px;
	width:100%;
	background: url('images/Banner option 1.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.banner small {
	font-size: 75%;
}

.banner h5.alert-link {
	margin-bottom: 0;
}

.banner-left {
	position: absolute !important;
  bottom: 1rem;
  left: 1rem;
}

.banner-right {
	position: absolute !important;
  bottom: 1rem;
  right: 1rem;
  text-align: center;
}
*/
/*benefit*/

.benefit {
	min-height: 700px;
	width: 100%;
	background: url('images/lợi ích.png'),#F2F5FC;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.benefit p, .salient-features p {
	font-size: 85%;
	margin-bottom: 0;
	font-weight: 500;
}

.for-edu-manager {
	width: 360px;
	position: absolute;
  top: 150px;
  left: 30px;
}

.for-teacher {
	width: 380px;
	position: absolute;
	top: 100px;
	right: 50px;
}

.for-student {
	width: 360px;
  position: absolute;
  bottom: 125px;
  right: 140px;
}

.for-parent {
  width: 375px;
  position: absolute;
  right: 25px;
  top: 280px;
}

.for-school {
	width: 320px;
	position: absolute;
	left: 70px;
  bottom: 185px;	
}

/*salient features*/
.salient-features {
	min-height: 650px;
	background: url('images/student.png'),#3C7AD9;
  background-repeat: no-repeat;
  background-size: contain;
}

.features-details {
	min-height: 12rem;
	position: relative;
}

.features-details img.img-fluid {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

/*numbers*/

.numbers {
	min-height: 650px;
	background: url('images/numbers.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.numbers-intent {
	min-height: 650px;
	background: rgba(29, 48, 113, 0.8);
}

.p-big {
  font-size: 8.5rem;
  opacity: .04;
  margin-top: -10rem;
}

.numbers-school img {
	background: rgba(246, 107, 73, 0.15);
}

.numbers-teacher img {
	background: rgba(37, 200, 170, 0.15);
}

.numbers-student img {
	background: rgba(59, 110, 198, 0.15);
}

.numbers-course img {
	background: rgba(101, 57, 254, 0.15);
}

.numbers-intent .row {
	position: relative;
}

.numbers-intent .line {
	position: absolute;
	bottom: 15px;
	z-index: 0;
}

.z-100 {
	z-index: 100;
}

/*footer*/
.footer {
	background: url('images/bg footer.png');
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-width: 576px){
	.menu .title {
		font-size: 90%;
	}

	form.form-inline.ml-lg-auto.ml-md-auto.pr-md-5.pr-lg-5 a {
		width: 100%;
	}

	.d-none-sm {
		display: none !important;
	}
	
	.w-75.w-sm-80, .w-60.w-sm-80 {
		width: 80% !important;
	}


	.mt-6 {
		margin-top: 0 !important;
	}

	/*benefit*/
	.benefit {
		min-height: auto;
		width: 100%;
		background: #F2F5FC;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}

	.for-edu-manager, .for-school,  .for-teacher, 
	.for-student, .for-parent	{
		width: auto !important;
		position: initial !important;
		top: auto !important;
		left: auto !important;
		right: auto !important;
		margin: 1rem;
	}

	/*salient features*/
	.salient-features {
		min-height: auto;
		background: #3C7AD9;
	}
	.salient-features .d-none {
		display: block !important;
	}

	/*numbers*/

	.numbers-school .float-right {
		clear: both !important;
	}
	
	.numbers-intent .row.container.m-0 .text-center{
		padding-left: 2rem;
		text-align: left !important;
	}
	
	.numbers-intent {
		background: none !important;
	}

	.numbers {
		background-image: url('images/numbers 2.png');
		background-repeat: no-repeat;
		background-size: contain;
}
}